@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
  --scrollbar-base-color-0: #1f1d1d;
  --border-right-color-0: #c9c9c9;
  --border-color-0: #e1e4e5;
  --border-color-1: #eee;
  --border-color-2: #cccccc;
  --bg-color-body: #edf0f2;
  --bg-color-content: #fcfcfc;
  --bg-color-blockquote: #f0f0f0;
  --bg-color-toc: #343131;
  --color-white: #ffffff;
  --color-link: #2980b9;
  --color-link-hover: #3091d1;
  --color-link-visited: #9b59b6;
  --color-gray: #808080;
  --tr-color-odd: #f3f6f6;
  --color-error: #fdf3f2;
  --color-red-tag: #db2d27;
  --bg-light-peach: #ffedcc;
  --bg-light-blue: #e7f2fa;
  --bg-teal: #1abc9c;
  --bg-mint-cream: #dbfaf4;
  --bg-sky-blue: #6ab0de;
  --bg-tan: #f0b37e;
  --bg-soft-rose: #f29f97;

  --bg-light-gray: #e3e3e3;
  --bg-medium-gray: #d6d6d6;
  --bg-dark-charcoal: #4e4a4a;
  --bg-deep-charcoal: #272525;
  --bg-vibrant-yellow: #f1c40f;
  --bg-aqua: #6ab097;
  --bg-light-silver: #ededed;
  --bg-ivory: #fff9e3;
  --bg-deep-navy: #050524;
  --bg-pale-yellow: #ffffcc;
  --bg-bright-yellow: #ffff00;
  --bg-soft-gray: #d9d9d9;

  --bg-very-light-gray: #f2f2f2;
  --bg-whisper-gray: #e5e5e5;
  --bg-light-green: #b4eeb4;
  --bg-pastel-pink: #ffc0cb;
  --bg-pink-purple: #cd00cd;
  --bg-soft-pink: #ffc1c1;
  --bg-pale-turquoise: #afeeee;
  --bg-light-khaki: #eedc82;
  --bg-silver: #bfbfbf;
  --bg-turquoise: #40e0d0;
  --bg-light-yellow: #ffffe0;
  --color-charcoal: #404040;
  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-light-gray-variant: #b3b3b3;
  --color-medium-gray-variant: #999999;
  --color-green: #27ae60;
  --color-neutral-gray: #939393;
  --color-blue: #0072b5;
  --color-cadet-blue: #5f9ea0;
  --color-dark-purple: #7a378b;
  --color-firebrick: #b22222;
  --color-sienna: #a0522d;
  --color-deep-pink: #8b2252;
  --color-royal-blue: #0000ff;
  --color-purple: #a020f0;
  --color-dark-cyan: #008b8b;
  --color-dark-blue: #00008b;
  --color-olive: #999988;
  --color-red: #ff0000;
  --color-dim-gray: #7f7f7f;
  --color-forest-green: #228b22;
  --color-brown: #a52a2a;
  --color-gold: #ffd700;
  --color-goldenrod: #daa520;
  --color-goldenrod-yellow: #cdad00;
  --color-orange-red: #ff4500;
  --color-light-sky-blue: #b0e2ff;
  --color-steel-blue: #0086b3;
  --color-dark-magenta: #8b008b;
  --color-midnight-blue: #191970;
  --color-dark-goldenrod: #b8860b;
  --color-rosy-brown: #bc8f8f;
  --color-saddle-brown: #8b4513;
  --color-dark-green: #006400;
  --color-dark-red: #dd1144;
  --color-teal: #008080;
  --color-orange: #ffa500;
  --color-close-sidebar: #ffffff4d;
}

html.dark {
  --border-right-color-0: #c9c9c9;
  --border-color-0: #e1e4e5;
  --border-color-1: #eee;
  --border-color-2: #cccccc;
  --bg-color-body: #edf0f2;
  --bg-color-content: #fcfcfc;
  --bg-color-blockquote: #f0f0f0;
}

html {
  height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: 'Roboto Slab', 'ff-tisa-web-pro', 'Georgia', Arial, sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 175%;
  text-align: left;
  margin-bottom: 0.83em;
}

.subtitle {
  font-size: 95%; /* of h1 */
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 100%;
}

h4,
h5,
h6 {
  color: var(--color-link);
  font-weight: 300;
}

body {
  background: var(--bg-color-body);
  color: var(--color-charcoal);
  font-family: 'Lato', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  margin: auto;
  min-height: 100%;
}

#content {
  height: 100%;
  position: relative;
  min-height: 100%;
  padding: 2.5rem 1.25rem 1.25rem 3.125rem;
  overflow: auto;
  background: var(--bg-color-content);
}

@media screen and (max-width: 48rem) {
  #content {
    padding-left: 1.875rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 62rem) {
  #content {
    padding-left: 6.25rem;
  }
}

p {
  font-size: 1rem;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  background-color: var(--bg-color-blockquote);
  border-left: 0.3125rem solid var(--border-color-2);
  font-style: italic;
  line-height: 1.5rem;
  margin: 0rem 0rem 1.5rem 0rem;
  /* margin-left:1.5rem; */
  padding: 0.375rem 1.25rem;
}

ul,
ol,
dl {
  line-height: 1.5rem;
  list-style-image: none;
  /* list-style:none; */
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0;
}

li {
  margin-left: 1.5rem;
}

dd {
  margin: 0;
}

#content .section ul,
#content .toctree-wrapper ul,
article ul {
  list-style: disc;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

#content .section ul li,
#content .toctree-wrapper ul li,
article ul li {
  list-style: disc;
  margin-left: 1.5rem;
}

#content .section ul li p:last-child,
#content .toctree-wrapper ul li p:last-child,
article ul li p:last-child {
  margin-bottom: 0;
}

#content .section ul li ul,
#content .toctree-wrapper ul li ul,
article ul li ul {
  margin-bottom: 0;
}

#content .section ul li li,
#content .toctree-wrapper ul li li,
article ul li li {
  list-style: circle;
}

#content .section ul li li li,
#content .toctree-wrapper ul li li li,
article ul li li li {
  list-style: square;
}

#content .section ul li ol li,
#content .toctree-wrapper ul li ol li,
article ul li ol li {
  list-style: decimal;
}

#content .section ol,
#content ol,
article ol {
  list-style: decimal;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

#content .section ol li,
#content ol li,
article ol li {
  list-style: decimal;
  margin-left: 1.5rem;
}

#content .section ol li p:last-child,
#content ol li p:last-child,
article ol li p:last-child {
  margin-bottom: 0;
}

#content .section ol li ul,
#content ol li ul,
article ol li ul {
  margin-bottom: 0;
}

#content .section ol li ul li,
#content ol li ul li,
article ol li ul li {
  list-style: disc;
}

dl dt {
  font-weight: bold;
}

dl p,
dl table,
dl ul,
dl ol {
  margin-bottom: 0.75rem !important;
}

dl dd {
  margin: 0 0 0.75rem 1.5rem;
}

@media print {
  .codeblock,
  pre.src {
    white-space: pre.src-wrap;
  }
}

@media print {
  html,
  body,
  section {
    background: none !important;
  }

  * {
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  pre.src,
  blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media print {
  #postamble {
    display: none;
  }

  #content {
    margin-left: 0;
  }

  #km-theme-toggler {
    display: none;
  }
}

@media print {
  #table-of-contents {
    display: none;
  }

  @page {
    size: auto;
    margin: 25mm 25mm 25mm 25mm;
  }

  body {
    margin: 0rem;
  }
}

@media screen and (max-width: 48rem) {
}

@media only screen and (max-width: 30rem) {
}

@media screen and (max-width: 48rem) {
  .tablet-hide {
    display: none;
  }
}

@media screen and (max-width: 30rem) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (max-width: 30rem) {
}

@media screen and (max-width: 48rem) {
  #content {
    margin-left: 0;
  }

  #content #content {
    padding: 1.618rem;
  }

  #content.shift {
    position: fixed;
    min-width: 100%;
    left: 85%;
    top: 0;
    height: 100%;
  }
}

@media screen and (max-width: 48rem) {
  #copyright {
    width: 85%;
    display: none;
  }

  #copyright.shift {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 30rem) {
  #content .sidebar {
    width: 100%;
  }
}

code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  font-size: 75%;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 0.3125rem;
}

.codeblock-example {
  border: 0.0625rem solid var(--border-color-0);
  border-bottom: none;
  padding: 1.5rem;
  padding-top: 3rem;
  font-weight: 500;
  background: var(--color-white);
  position: relative;
}

.codeblock-example:after {
  content: 'Example';
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: var(--color-link-visited);
  color: var(--color-white);
  padding: 0.375rem 0.75rem;
}

.codeblock-example.prettyprint-example-only {
  border: 0.0625rem solid var(--border-color-0);
  margin-bottom: 1.5rem;
}

.codeblock,
pre.src,
#content .literal-block {
  border: 0.0625rem solid var(--border-color-0);
  padding: 0.75rem;
  overflow-x: auto;
  background: var(--color-white);
  margin: 0.0625rem 0 1.5rem 0;
}

pre.src {
  display: block;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.0625rem 0rem 1.5rem 0rem;
  overflow: auto;
  padding: 0.75rem;
  white-space: pre;
}

.example {
  background: var(--tr-color-odd);
  border: 0.0625rem solid var(--border-color-0);
  color: var(--color-charcoal);
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-left: 0;
  padding: 0.75rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  margin-bottom: 1.5rem;
  border-bottom: 0.0625rem solid var(--border-color-0);
}

td {
  vertical-align: top;
}

table td,
table th {
  font-size: 90%;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--border-color-0);
}

table thead th {
  font-weight: bold;
  border-top: 0.1875rem solid var(--border-color-0);
  border-bottom: 0.0625rem solid var(--border-color-0);
}

table caption {
  color: var(--color-black);
  font:
    italic 85%/1 arial,
    sans-serif;
  padding: 1em 0;
}

table tr:nth-child(2n-1) td {
  background-color: var(--tr-color-odd);
}

table tr:nth-child(2n) td {
  background-color: var(--color-white);
}

.figure p {
  color: var(--color-black);
  font:
    italic 85%/1 arial,
    sans-serif;
  padding: 1em 0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figcaption,
figure,
footer,
header,
hgroup,
nav {
  display: block;
}

nav {
  overflow-y: auto;
  scrollbar-color: var(--bg-color-toc) var(--bg-color-toc);
  scrollbar-width: thin;
}

ins {
  background: #ff9;
  color: var(--color-black);
  text-decoration: none;
}

mark {
  background: #ff0;
  color: var(--color-black);
  font-style: italic;
  font-weight: bold;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  margin-left: -0.4375rem;
  padding: 0;
  white-space: normal;
}

.fa:before,
#content .admonition-title:before,
#content h1 .headerlink:before,
#content h2 .headerlink:before,
#content h3 .headerlink:before,
#content h4 .headerlink:before,
#content h5 .headerlink:before,
#content h6 .headerlink:before,
#content dl dt .headerlink:before,
.icon:before,
.wy-dropdown .caret:before,
.wy-inline-validate.wy-inline-validate-success .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-danger .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,
.wy-alert,
#content .note,
#content .attention,
#content .caution,
#content .danger,
#content .error,
#content .hint,
#content .important,
#content .tip,
#content .warning,
#content .seealso,
#content .admonitiontodo,
.btn,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='color'],
select,
textarea,
#table-of-contents li.on a,
#table-of-contents li.current > a,
.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a,
.wy-nav-top a {
  -webkit-font-smoothing: antialiased;
}

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src:
    url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0')
      format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa,
#content .admonition-title,
.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286rem;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286rem;
  width: 2.14286rem;
  top: 0.14286rem;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714rem;
}

.fa-border {
  padding: 0.2em 0.25em 0.15rem;
  border: solid 0.08em var(--border-color-1);
  border-radius: 0.1rem;
}

.fa,
#content .admonition-title {
  font-family: inherit;
}

.fa:before,
#content .admonition-title:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
}

a .fa,
a #content .admonition-title,
#content a .admonition-title {
  display: inline-block;
  text-decoration: inherit;
}

.nav #content .admonition-title,
#content .nav .admonition-title,
.nav .icon {
  display: inline;
}

.wy-alert-title,
#content .admonition-title {
  color: var(--color-white);
  font-weight: bold;
  display: block;
  color: var(--color-white);
  /* background:var(--bg-color-13); */
  /* margin:-0.75rem; */
  padding: 0.375rem 0.75rem;
  margin-bottom: 0rem;
}

.admonition-title + div {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}

.admonition-title + div > p {
  margin: 0;
}

.danger + div,
.error + div,
#content .danger,
#content .error {
  background: var(--color-error);
}

.wy-alert.wy-alert-warning,
#content .wy-alert-warning.note,
#content .attention,
#content .caution,
#content .warning,
#content .admonitiontodo,
.attention + div,
.caution + div,
.warning + div,
#content .wy-alert-warning.danger,
#content .wy-alert-warning.error,
#content .wy-alert-warning.hint,
#content .wy-alert-warning.important,
#content .wy-alert-warning.tip,
#content .wy-alert-warning.seealso {
  background: var(--bg-light-peach);
}

#content .admonition-title.note:before,
#content .admonition-title.seealso:before,
#content .admonition-title.warning:before,
#content .admonition-title.caution:before,
#content .admonition-title.attention:before,
#content .admonition-title.tip:before,
#content .admonition-title.hint:before,
#content .admonition-title.important:before,
#content .admonition-title.error:before,
#content .admonition-title.danger:before {
  font-family: FontAwesome;
  content: '';
}

.seealso + div,
.note + div,
#content .note,
#content .seealso {
  background: var(--bg-light-blue);
}

#content .admonition-title.tip,
#content .admonition-title.important,
#content .admonition-title.hint {
  line-height: 1;
  background: var(--bg-teal);
}

.important + div,
.tip + div,
.hint + div,
#content .important,
#content .tip,
#content .hint {
  background: var(--bg-mint-cream);
}

#content .admonition-title.note,
#content .admonition-title.seealso {
  line-height: 1;
  background: var(--bg-sky-blue);
}

#content .admonition-title.warning,
#content .admonition-title.caution,
#content .admonition-title.attention {
  line-height: 1;
  background: var(--bg-tan);
}

#content .admonition-title.error,
#content .admonition-title.danger {
  line-height: 1;
  background: var(--bg-soft-rose);
}

legend {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  white-space: normal;
  margin-bottom: 1.5rem;
  font-size: 150%;
  *margin-left: -0.4375rem;
}

label {
  display: block;
  margin: 0 0 0.3125em 0;
  color: #333;
  font-size: 90%;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  outline: 0;
}

a:hover {
  color: var(--color-link-hover);
}

a:visited {
  color: var(--color-link-visited);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

hr {
  display: block;
  height: 0.0625rem;
  border: 0;
  border-top: 0.0625rem solid var(--border-color-0);
  margin: 1.5rem 0;
  padding: 0;
}

#table-of-contents li {
  list-style: none;
  margin-left: 0rem;
}

#table-of-contents header {
  height: 2rem;
  display: inline-block;
  line-height: 2rem;
  padding: 0 1.618rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  color: var(--color-link);
  white-space: nowrap;
}

#table-of-contents ul {
  margin-bottom: 0;
}

#table-of-contents li.divide-top {
  border-top: solid 0.0625rem var(--color-charcoal);
}

#table-of-contents li.divide-bottom {
  border-bottom: solid 0.0625rem var(--color-charcoal);
}

#table-of-contents li.current {
  background: var(--bg-light-gray);
}

#table-of-contents li.current a {
  color: var(--color-gray);
  border-right: solid 0.0625rem var(--border-right-color-0);
  padding: 0.4045em 2.427rem;
}

#table-of-contents li.current a:hover {
  background: var(--bg-medium-gray);
}

#table-of-contents li a {
  /* color:var(--color-1); */
  padding: 0.4045em 1.618rem;
  position: relative;
  /* background:#fcfcfc; */
  border: none;
  /* border-bottom:solid 0.0625rem var(--border-right-color-0); */
  /* border-top:solid 0.0625rem var(--border-right-color-0); */
  padding-left: 1.618em -0.25rem;
}

#table-of-contents li.on a:hover,
#table-of-contents li.current > a:hover {
  background: var(--bg-color-content);
}

#table-of-contents li ul li a {
  /* background:var(--border-right-color-0); */
  padding: 0.4045em 2.427rem;
}

#table-of-contents li ul li ul li a {
  padding: 0.4045em 3.236rem;
}

#table-of-contents li.current ul {
  display: block;
}
#table-of-contents .local-toc li ul {
  display: block;
}

#table-of-contents li ul li a {
  margin-bottom: 0;
  color: var(--color-light-gray-variant);
  font-weight: normal;
}

#table-of-contents a {
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.4045em 1.618rem;
  display: block;
  position: relative;
  font-size: 90%;
  color: var(--color-light-gray-variant);
  direction: ltr;
}

#table-of-contents a:hover {
  color: var(--color-white) !important;
  background-color: var(--bg-dark-charcoal);
  cursor: pointer;
}

#table-of-contents {
  position: fixed;
  top: 0;
  left: -16.25rem;
  width: 18.75rem;
  max-width: 18.75rem;
  height: 100%;
  background: var(--bg-color-toc);
  z-index: 200;
  scrollbar-base-color: var(--scrollbar-base-color-0);
  scrollbar-arrow-color: var(--color-light-gray-variant);
  scrollbar-shadow-color: var(--scrollbar-base-color-0);
  scrollbar-track-color: var(--bg-color-toc);
  transition: left 0.2s;
}

#table-of-contents.open {
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 50rem) {
  #table-of-contents {
    height: 1.875rem;
  }

  #table-of-contents.open {
    left: 0rem;
    height: 100%;
    bottom: 0rem;
  }
}

@media screen and (max-width: 99rem) {
  #table-of-contents h2 {
  }

  #table-of-contents h2 a {
    display: block;
  }

  #table-of-contents:target {
    display: block;
  }

  #copyright,
  #postamble {
    display: none;
  }

  #toggle-sidebar {
    display: block;
    margin-bottom: 1.6rem;
    padding: 0.6rem;
    text-align: center;
  }

  #toggle-sidebar h2 {
    background-color: var(--color-link);
    width: 100%;
    height: 3.125rem;
    left: 0;
    top: 0;
    color: var(--color-white);
    font-size: 100%;
    line-height: 3.125rem;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    z-index: 10;
    cursor: pointer;
  }

  #table-of-contents .close-sidebar {
    color: var(--color-close-sidebar);
    display: inline-block;
    margin: 0rem 0.625rem 0rem 2.8125rem;
    padding: 0.625rem;
  }
}

#table-of-contents h2 {
  opacity: 0.8;
  z-index: 200;
  background-color: var(--color-link);
  text-align: center;
  padding: 0.809rem;
  display: block;
  color: var(--bg-color-content);
  cursor: pointer;
  font-size: 100%;
  margin-bottom: 0.809rem;
  cursor: pointer;
}
#table-of-contents h2:hover {
  opacity: 1;
}

ul.nav > li ul {
  display: none;
}

li.active {
  background-color: var(--bg-light-gray);
}

li.active > a {
  color: var(--color-black) !important;
}

ul.nav > li.active a {
  color: var(--color-charcoal) !important;
}

ul.nav > li.active li.active {
  background-color: var(--border-right-color-0);
}

ul.nav > li.active li.active > a {
  color: var(--color-black) !important;
  border-right: solid 0.0625rem var(--border-right-color-0) !important;
  font-weight: bold !important;
  display: block !important;
}

ul.nav > li.active > a {
  background-color: var(--bg-color-content);
  color: var(--color-black) !important;
  border-bottom: solid 0.0625rem var(--border-right-color-0) !important; /* XXX Restrict it to 2nd level */
  border-right: solid 0.0625rem var(--border-right-color-0) !important;
  font-weight: bold !important;
  display: block !important;
}

li.active > ul {
  display: inline !important;
}

footer {
  color: var(--color-medium-gray-variant);
}

footer p {
  margin-bottom: 0.75rem;
}

#copyright,
#postamble {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 18.75rem;
  color: var(--bg-color-content);
  background: var(--scrollbar-base-color-0);
  border-top: solid 0.625rem var(--bg-color-toc);
  font-family: 'Lato', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
  font-size: 90%;
  z-index: 400;
  padding: 0.75rem;
}

#postamble .author {
  font-size: 100%;
  margin-bottom: 0rem;
}

#postamble .date {
  font-size: 90%;
  margin-bottom: 0rem;
  color: var(--color-green);
}

#postamble .creator,
#postamble .validation {
  display: none;
}

#copyright a {
  color: var(--color-link);
  text-decoration: none;
}

#copyright .rst-current-version {
  padding: 0.75rem;
  background-color: var(--bg-deep-charcoal);
  display: block;
  text-align: right;
  font-size: 90%;
  cursor: pointer;
  color: var(--color-green);
  *zoom: 1;
}

#content img {
  max-width: 100%;
}

#content div.figure {
  margin-bottom: 1.5rem;
}

#content div.figure.align-center {
  text-align: center;
}

#content .section > img,
#content .section > a > img {
  margin-bottom: 1.5rem;
}

.verse {
  border-left: 0.3125rem solid var(--bg-sky-blue);
  background-color: var(--bg-light-blue);
  padding: 0.375rem 1.25rem;
  font-style: italic;
}

#content .note .last,
#content .attention .last,
#content .caution .last,
#content .danger .last,
#content .error .last,
#content .hint .last,
#content .important .last,
#content .tip .last,
#content .warning .last,
#content .seealso .last,
#content .admonitiontodo .last {
  margin-bottom: 0;
}

#content .admonition-title:before {
  margin-right: 0.25rem;
}

#content .section ol p,
#content .section ul p {
  margin-bottom: 0.75rem;
}

#content h1 .headerlink,
#content h2 .headerlink,
#content h3 .headerlink,
#content h4 .headerlink,
#content h5 .headerlink,
#content h6 .headerlink,
#content dl dt .headerlink {
  display: none;
  visibility: hidden;
  font-size: 0.875rem;
}

#content h1 .headerlink:after,
#content h2 .headerlink:after,
#content h3 .headerlink:after,
#content h4 .headerlink:after,
#content h5 .headerlink:after,
#content h6 .headerlink:after,
#content dl dt .headerlink:after {
  visibility: visible;
  content: '';
  font-family: FontAwesome;
  display: inline-block;
}

#content h1:hover .headerlink,
#content h2:hover .headerlink,
#content h3:hover .headerlink,
#content h4:hover .headerlink,
#content h5:hover .headerlink,
#content h6:hover .headerlink,
#content dl dt:hover .headerlink {
  display: inline-block;
}

#content .sidebar {
  float: right;
  width: 40%;
  display: block;
  margin: 0 0 1.5rem 1.5rem;
  padding: 1.5rem;
  background: var(--tr-color-odd);
  border: solid 0.0625rem var(--border-color-0);
}

#content .sidebar p,
#content .sidebar ul,
#content .sidebar dl {
  font-size: 90%;
}

#content .sidebar .last {
  margin-bottom: 0;
}

#content .sidebar .sidebar-title {
  display: block;
  font-family: 'Roboto Slab', 'ff-tisa-web-pro', 'Georgia', Arial, sans-serif;
  font-weight: bold;
  background: var(--border-color-0);
  padding: 0.375rem 0.75rem;
  margin: -1.5rem;
  margin-bottom: 1.5rem;
  font-size: 100%;
}

#content .highlighted {
  background: var(--bg-vibrant-yellow);
  display: inline-block;
  font-weight: bold;
  padding: 0 0.375rem;
}

#content .footnote-reference,
#content .citation-reference {
  vertical-align: super;
  font-size: 90%;
}

span[id*='MathJax-Span'] {
  color: var(--color-charcoal);
}

.math {
  text-align: center;
}

#footnotes {
  border-top: 0.0625rem solid var(--border-color-0);
  padding-top: 2.25rem;
}

h2.footnotes {
  display: none;
}

.footnum,
.footref {
  color: var(--color-link);
  font-size: 90%;
  font-family: 'Lato', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
}

.footnum:before,
.footref:before {
  content: '[';
}

.footnum:after,
.footref:after {
  content: ']';
}

.footpara {
  color: var(--color-medium-gray-variant);
  font-size: 90%;
  font-family: 'Lato', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
  display: inline;
}

.todo {
  background-color: var(--bg-soft-rose);
  padding: 0rem 0.25rem;
  color: var(--color-white);
}

.WAIT,
.nilWAIT {
  background-color: var(--bg-aqua);
}

.done {
  background-color: var(--bg-aqua);
  padding: 0rem 0.25rem;
  color: var(--color-white);
}

.tag span {
  background-color: var(--bg-light-silver);
  border: 0.0625rem solid var(--bg-light-silver);
  color: var(--color-neutral-gray);
  cursor: pointer;
  display: block;
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin: 0 0.1875rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
}

.tag .FLAGGED {
  background-color: var(--color-red-tag);
  border: 0.0625rem solid var(--color-red-tag);
  color: var(--color-white);
  font-weight: bold;
}

.timestamp {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  font-size: 90%;
}

.nav .timestamp {
  color: inherit;
}

.inlinetask {
  background: var(--bg-ivory);
  padding: 0.5625rem 0.75rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Slab', 'ff-tisa-web-pro', 'Georgia', Arial, sans-serif;
}

pre[class='example'] {
  color: var(--color-gold);

  background-color: var(--bg-deep-navy);
}
pre.src {
  background-color: var(--bg-deep-navy);
  color: var(--color-white);
}
.code-highlighted {
  outline: 0.0625rem solid var(--color-goldenrod);
}
pre.src {
  position: relative;
  background-color: var(--bg-deep-navy);
  color: var(--color-white);
}
span.coderef-off {
  color: var(--color-gray);
}

span.coderef-off.code-highlighted {
  color: var(--color-goldenrod);
}

pre.src:before {
  display: block;
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-blue);
  top: 0.5rem;
  border: 0.0625rem solid var(--color-blue);
  margin-top: 0rem;
  transition: all 0.2s ease-in;
}
pre.src:hover:before {
  display: inline;
  margin-top: 0rem;
  color: var(--color-gold);
  border-color: var(--color-gold);
}
pre[class='example'] {
  background-color: var(--bg-deep-navy);
}
summary {
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 0.2rem;
}
.subtitle {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
}
.todo {
  font-family: monospace;
  color: var(--color-red);
}
.done {
  font-family: monospace;
}
.priority {
  font-family: monospace;
  color: var(--color-orange);
}
.tag {
  font-family: monospace;
  padding: 0.125rem;
  font-size: 80%;
  font-weight: normal;
}
.timestamp {
  font-weight: 900;
  color: var(--bg-sky-blue);
}
.timestamp-kwd {
  color: var(--color-cadet-blue);
}
.org-right {
  margin-left: auto;
  margin-right: 0rem;
  text-align: right;
}
.org-left {
  margin-left: 0rem;
  margin-right: auto;
  text-align: left;
}
.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
body {
  margin: auto;
}

a {
  color: var(--color-blue);
}
#postamble p,
#preamble p {
  font-size: 90%;
  margin: 0.2rem;
}
p.verse {
  margin-left: 3%;
}
pre {
  border: 0.0625rem solid var(--border-color-2);
  box-shadow: 0.1875rem 0.1875rem 0.1875rem var(--border-color-1);
  padding: 8pt;
  font-family: monospace;
  overflow: auto;
  margin: 1.2rem;
}
pre.src {
  position: relative;
  background-color: var(--bg-deep-navy);
  color: var(--color-white);
  padding-top: 1.2rem;
}
pre.src:before {
  display: block;
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-blue);
  right: 0.625rem;
  padding: 0.1875rem;
  border: 0.0625rem solid var(--color-blue);
}

pre[class='example'] {
  background-color: var(--bg-deep-navy);
}

pre.src:hover:before {
  display: inline;
}
/* Languages per Org manual */
pre.src-asymptote:before {
  content: 'Asymptote';
}
pre.src-awk:before {
  content: 'Awk';
}
pre.src-C:before {
  content: 'C';
}
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before {
  content: 'Clojure';
}
pre.src-css:before {
  content: 'CSS';
}
pre.src-D:before {
  content: 'D';
}
pre.src-ditaa:before {
  content: 'ditaa';
}
pre.src-dot:before {
  content: 'Graphviz';
}
pre.src-calc:before {
  content: 'Emacs Calc';
}
pre.src-emacs-lisp:before {
  content: 'Emacs Lisp';
}
pre.src-fortran:before {
  content: 'Fortran';
}
pre.src-gnuplot:before {
  content: 'gnuplot';
}
pre.src-haskell:before {
  content: 'Haskell';
}
pre.src-hledger:before {
  content: 'hledger';
}
pre.src-java:before {
  content: 'Java';
}
pre.src-js:before {
  content: 'Javascript';
}

pre.src-latex:before {
  content: 'LaTeX';
}
pre.src-ledger:before {
  content: 'Ledger';
}
pre.src-lisp:before {
  content: 'Lisp';
}
pre.src-lilypond:before {
  content: 'Lilypond';
}
pre.src-lua:before {
  content: 'Lua';
}
pre.src-matlab:before {
  content: 'MATLAB';
}
pre.src-mscgen:before {
  content: 'Mscgen';
}
pre.src-ocaml:before {
  content: 'Objective Caml';
}
pre.src-octave:before {
  content: 'Octave';
}
pre.src-org:before {
  content: 'Org mode';
}
pre.src-oz:before {
  content: 'OZ';
}
pre.src-plantuml:before {
  content: 'Plantuml';
}
pre.src-processing:before {
  content: 'Processing.js';
}
pre.src-python:before {
  content: 'Python';
}
pre.src-R:before {
  content: 'R';
}
pre.src-ruby:before {
  content: 'Ruby';
}
pre.src-sass:before {
  content: 'Sass';
}
pre.src-scheme:before {
  content: 'Scheme';
}
pre.src-screen:before {
  content: 'Gnu Screen';
}
pre.src-sed:before {
  content: 'Sed';
}
pre.src-sh:before {
  content: 'shell';
}
pre.src-sql:before {
  content: 'SQL';
}
pre.src-sqlite:before {
  content: 'SQLite';
}
/* additional languages in org.el's org-babel-load-languages alist */

pre.src-javascript:before {
  content: 'Javascript';
}
pre.src-typescript:before {
  content: 'TypeScript';
}

pre.src-forth:before {
  content: 'Forth';
}
pre.src-io:before {
  content: 'IO';
}
pre.src-J:before {
  content: 'J';
}
pre.src-makefile:before {
  content: 'Makefile';
}
pre.src-maxima:before {
  content: 'Maxima';
}
pre.src-perl:before {
  content: 'Perl';
}
pre.src-picolisp:before {
  content: 'Pico Lisp';
}
pre.src-scala:before {
  content: 'Scala';
}
pre.src-shell:before {
  content: 'Shell Script';
}
pre.src-ebnf2ps:before {
  content: 'ebfn2ps';
}
/* additional language identifiers per \"defun org-babel-execute\"
                                       in ob-*.el */
pre.src-cpp:before {
  content: 'C++';
}
pre.src-abc:before {
  content: 'ABC';
}
pre.src-coq:before {
  content: 'Coq';
}
pre.src-groovy:before {
  content: 'Groovy';
}
/* additional language identifiers from org-babel-shell-names in
                                     ob-shell.el: ob-shell is the only babel language using a lambda to put
                                     the execution function name together. */
pre.src-bash:before {
  content: 'bash';
}
pre.src-csh:before {
  content: 'csh';
}
pre.src-ash:before {
  content: 'ash';
}
pre.src-dash:before {
  content: 'dash';
}
pre.src-ksh:before {
  content: 'ksh';
}
pre.src-mksh:before {
  content: 'mksh';
}
pre.src-posh:before {
  content: 'posh';
}
pre.src-ada:before {
  content: 'Ada';
}
pre.src-asm:before {
  content: 'Assembler';
}
pre.src-caml:before {
  content: 'Caml';
}
pre.src-delphi:before {
  content: 'Delphi';
}
pre.src-html:before {
  content: 'HTML';
}
pre.src-idl:before {
  content: 'IDL';
}
pre.src-mercury:before {
  content: 'Mercury';
}
pre.src-metapost:before {
  content: 'MetaPost';
}
pre.src-modula-2:before {
  content: 'Modula-2';
}
pre.src-pascal:before {
  content: 'Pascal';
}
pre.src-ps:before {
  content: 'PostScript';
}
pre.src-prolog:before {
  content: 'Prolog';
}
pre.src-simula:before {
  content: 'Simula';
}
pre.src-tcl:before {
  content: 'tcl';
}
pre.src-tex:before {
  content: 'TeX';
}
pre.src-plain-tex:before {
  content: 'Plain TeX';
}
pre.src-verilog:before {
  content: 'Verilog';
}
pre.src-vhdl:before {
  content: 'VHDL';
}
pre.src-xml:before {
  content: 'XML';
}
pre.src-nxml:before {
  content: 'XML';
}
pre.src-conf:before {
  content: 'Configuration File';
}

table {
  border-collapse: collapse;
}
caption.t-above {
  caption-side: top;
}
caption.t-bottom {
  caption-side: bottom;
}
td,
th {
  vertical-align: top;
}
th.org-right {
  text-align: center;
}
th.org-left {
  text-align: center;
}
th.org-center {
  text-align: center;
}
td.org-right {
  text-align: right;
}
td.org-left {
  text-align: left;
}
td.org-center {
  text-align: center;
}
dt {
  font-weight: bold;
}

.footdef {
  margin-bottom: 1rem;
}
.figure {
  padding: 1rem;
}
.figure p {
  text-align: center;
}
.equation-container {
  display: table;
  text-align: center;
  width: 100%;
}
.equation {
  vertical-align: middle;
}
.equation-label {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.inlinetask {
  padding: 0.625rem;
  border: 0.125rem solid var(--color-gray);
  margin: 0.625rem;
  background: var(--bg-pale-yellow);
}
#org-div-home-and-up {
  text-align: right;
  font-size: 70%;
  white-space: nowrap;
}
textarea {
  overflow-x: auto;
}
.linenr {
  font-size: smaller;
}
.org-info-js_info-navigation {
  border-style: none;
}
#org-info-js_console-label {
  font-size: 0.625rem;
  font-weight: bold;
  white-space: nowrap;
}
.org-info-js_search-highlight {
  background-color: var(--bg-bright-yellow);
  color: var(--color-black);
  font-weight: bold;
}
.org-svg {
  width: 90%;
}

@media screen and (min-width: 62rem) {
  body {
    padding: 4rem;
    max-width: 75rem;
    margin: auto;
  }
}

@media screen and (max-width: 37.5rem) {
  body {
    padding: 0rem;
  }
  pre {
    border: 0.0625rem solid var(--border-color-2);
    box-shadow: 0.1875rem 0.1875rem 0.1875rem var(--border-color-1);
    padding: 3pt 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em auto;
  }
  pre.src {
    overflow-x: auto;
    width: 96%;
    color: var(--color-white);
    padding-top: 1.2rem;
  }
  pre.src:before {
    display: none;
  }
}

.org-bold {
  /* bold */
  font-weight: bold;
}
.org-bold-italic {
  /* bold-italic */
  font-weight: bold;
  font-style: italic;
}
.org-buffer-menu-buffer {
  /* buffer-menu-buffer */
  font-weight: bold;
}
.org-builtin {
  /* font-lock-builtin-face */
  color: var(--color-dark-purple);
}
.org-button {
  /* button */
  text-decoration: underline;
}
.org-calendar-today {
  /* calendar-today */
  text-decoration: underline;
}
.org-change-log-acknowledgement {
  /* change-log-acknowledgement */
  color: var(--color-firebrick);
}
.org-change-log-conditionals {
  /* change-log-conditionals */
  color: var(--color-sienna);
}
.org-change-log-date {
  /* change-log-date */
  color: var(--color-deep-pink);
}
.org-change-log-email {
  /* change-log-email */
  color: var(--color-sienna);
}
.org-change-log-file {
  /* change-log-file */
  color: var(--color-royal-blue);
}
.org-change-log-function {
  /* change-log-function */
  color: var(--color-sienna);
}
.org-change-log-list {
  /* change-log-list */
  color: var(--color-purple);
}
.org-change-log-name {
  /* change-log-name */
  color: var(--color-dark-cyan);
}
.org-comint-highlight-input {
  /* comint-highlight-input */
  font-weight: bold;
}
.org-comint-highlight-prompt {
  /* comint-highlight-prompt */
  color: var(--color-dark-blue);
}
.org-comment {
  /* font-lock-comment-face */
  color: var(--color-olive);
  font-style: italic;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: var(--color-olive);
  font-style: italic;
}
.org-completions-annotations {
  /* completions-annotations */
  font-style: italic;
}
.org-completions-common-part {
  /* completions-common-part */
  color: var(--color-black);
  background-color: var(--color-white);
}
.org-completions-first-difference {
  /* completions-first-difference */
  font-weight: bold;
}
.org-constant {
  /* font-lock-constant-face */
  color: var(--color-dark-cyan);
}
.org-diary {
  /* diary */
  color: var(--color-red);
}
.org-diff-context {
  /* diff-context */
  color: var(--color-dim-gray);
}
.org-diff-file-header {
  /* diff-file-header */
  background-color: var(--color-light-gray-variant);
  font-weight: bold;
}
.org-diff-function {
  /* diff-function */
  background-color: var(--border-color-2);
}
.org-diff-header {
  /* diff-header */
  background-color: var(--border-color-2);
}
.org-diff-hunk-header {
  /* diff-hunk-header */
  background-color: var(--border-color-2);
}
.org-diff-index {
  /* diff-index */
  background-color: var(--color-light-gray-variant);
  font-weight: bold;
}
.org-diff-nonexistent {
  /* diff-nonexistent */
  background-color: var(--color-light-gray-variant);
  font-weight: bold;
}
.org-diff-refine-change {
  /* diff-refine-change */
  background-color: var(--bg-soft-gray);
}
.org-dired-directory {
  /* dired-directory */
  color: var(--color-royal-blue);
}
.org-dired-flagged {
  /* dired-flagged */
  color: var(--color-red);
  font-weight: bold;
}
.org-dired-header {
  /* dired-header */
  color: var(--color-forest-green);
}
.org-dired-ignored {
  /* dired-ignored */
  color: var(--color-dim-gray);
}
.org-dired-mark {
  /* dired-mark */
  color: var(--color-dark-cyan);
}
.org-dired-marked {
  /* dired-marked */
  color: var(--color-red);
  font-weight: bold;
}
.org-dired-perm-write {
  /* dired-perm-write */
  color: var(--color-firebrick);
}
.org-dired-symlink {
  /* dired-symlink */
  color: var(--color-purple);
}
.org-dired-warning {
  /* dired-warning */
  color: var(--color-red);
  font-weight: bold;
}
.org-doc {
  /* font-lock-doc-face */
  color: var(--color-deep-pink);
}
.org-escape-glyph {
  /* escape-glyph */
  color: var(--color-brown);
}
.org-file-name-shadow {
  /* file-name-shadow */
  color: var(--color-dim-gray);
}
.org-flyspell-duplicate {
  /* flyspell-duplicate */
  color: var(--color-goldenrod-yellow);
  font-weight: bold;
  text-decoration: underline;
}
.org-flyspell-incorrect {
  /* flyspell-incorrect */
  color: var(--color-orange-red);
  font-weight: bold;
  text-decoration: underline;
}
.org-fringe {
  /* fringe */
  background-color: var(--bg-very-light-gray);
}
.org-function-name {
  /* font-lock-function-name-face */
  color: var(--color-teal);
}
.org-header-line {
  /* header-line */
  color: var(--color-dark-gray);
  background-color: var(--bg-whisper-gray);
}
.org-help-argument-name {
  /* help-argument-name */
  font-style: italic;
}
.org-highlight {
  /* highlight */
  background-color: var(--bg-light-green);
}
.org-holiday {
  /* holiday */
  background-color: var(--bg-pastel-pink);
}
.org-isearch {
  /* isearch */
  color: var(--color-light-sky-blue);
  background-color: var(--bg-pink-purple);
}
.org-isearch-fail {
  /* isearch-fail */
  background-color: var(--bg-soft-pink);
}
.org-italic {
  /* italic */
  font-style: italic;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: var(--color-steel-blue);
}
.org-lazy-highlight {
  /* lazy-highlight */
  background-color: var(--bg-pale-turquoise);
}
.org-link {
  /* link */
  color: var(--color-royal-blue);
  text-decoration: underline;
}
.org-link-visited {
  /* link-visited */
  color: var(--color-dark-magenta);
  text-decoration: underline;
}
.org-log-edit-header {
  /* log-edit-header */
  color: var(--color-purple);
}
.org-log-edit-summary {
  /* log-edit-summary */
  color: var(--color-royal-blue);
}
.org-log-edit-unknown-header {
  /* log-edit-unknown-header */
  color: var(--color-firebrick);
}
.org-match {
  /* match */
  background-color: var(--bg-bright-yellow);
}
.org-next-error {
  /* next-error */
  background-color: var(--bg-light-khaki);
}
.org-nobreak-space {
  /* nobreak-space */
  color: var(--color-brown);
  text-decoration: underline;
}
.org-org-archived {
  /* org-archived */
  color: var(--color-dim-gray);
}
.org-org-block {
  /* org-block */
  color: var(--color-dim-gray);
}
.org-org-block-begin-line {
  /* org-block-begin-line */
  color: var(--color-firebrick);
}
.org-org-block-end-line {
  /* org-block-end-line */
  color: var(--color-firebrick);
}
.org-org-checkbox {
  /* org-checkbox */
  font-weight: bold;
}
.org-org-checkbox-statistics-done {
  /* org-checkbox-statistics-done */
  color: var(--color-forest-green);
  font-weight: bold;
}
.org-org-checkbox-statistics-todo {
  /* org-checkbox-statistics-todo */
  color: var(--color-red);
  font-weight: bold;
}
.org-org-clock-overlay {
  /* org-clock-overlay */
  background-color: var(--bg-bright-yellow);
}
.org-org-code {
  /* org-code */
  color: var(--color-dim-gray);
}
.org-org-column {
  /* org-column */
  background-color: var(--bg-whisper-gray);
}
.org-org-column-title {
  /* org-column-title */
  background-color: var(--bg-whisper-gray);
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date {
  /* org-date */
  color: var(--color-purple);
  text-decoration: underline;
}
.org-org-document-info {
  /* org-document-info */
  color: var(--color-midnight-blue);
}
.org-org-document-info-keyword {
  /* org-document-info-keyword */
  color: var(--color-dim-gray);
}
.org-org-document-title {
  /* org-document-title */
  color: var(--color-midnight-blue);
  font-size: 144%;
  font-weight: bold;
}
.org-org-done {
  /* org-done */
  color: var(--color-forest-green);
  font-weight: bold;
}
.org-org-drawer {
  /* org-drawer */
  color: var(--color-royal-blue);
}
.org-org-ellipsis {
  /* org-ellipsis */
  color: var(--color-dark-goldenrod);
  text-decoration: underline;
}
.org-org-footnote {
  /* org-footnote */
  color: var(--color-purple);
  text-decoration: underline;
}
.org-org-formula {
  /* org-formula */
  color: var(--color-firebrick);
}
.org-org-headline-done {
  /* org-headline-done */
  color: var(--color-rosy-brown);
}
.org-org-hide {
  /* org-hide */
  color: var(--color-white);
}
.org-org-latex-and-export-specials {
  /* org-latex-and-export-specials */
  color: var(--color-saddle-brown);
}
.org-org-level-1 {
  /* org-level-1 */
  color: var(--color-royal-blue);
}
.org-org-level-2 {
  /* org-level-2 */
  color: var(--color-sienna);
}
.org-org-level-3 {
  /* org-level-3 */
  color: var(--color-purple);
}
.org-org-level-4 {
  /* org-level-4 */
  color: var(--color-firebrick);
}
.org-org-level-5 {
  /* org-level-5 */
  color: var(--color-forest-green);
}
.org-org-level-6 {
  /* org-level-6 */
  color: var(--color-dark-cyan);
}
.org-org-level-7 {
  /* org-level-7 */
  color: var(--color-dark-purple);
}
.org-org-level-8 {
  /* org-level-8 */
  color: var(--color-deep-pink);
}
.org-org-link {
  /* org-link */
  color: var(--color-royal-blue);
  text-decoration: underline;
}
.org-org-meta-line {
  /* org-meta-line */
  color: var(--color-firebrick);
}
.org-org-mode-line-clock {
  /* org-mode-line-clock */
  color: var(--color-black);
  background-color: var(--bg-silver);
}
.org-org-mode-line-clock-overrun {
  /* org-mode-line-clock-overrun */
  color: var(--color-black);
  background-color: var(--color-red);
}
.org-org-quote {
  /* org-quote */
  color: var(--color-dim-gray);
}
.org-org-scheduled {
  /* org-scheduled */
  color: var(--color-dark-green);
}
.org-org-scheduled-previously {
  /* org-scheduled-previously */
  color: var(--color-firebrick);
}
.org-org-scheduled-today {
  /* org-scheduled-today */
  color: var(--color-dark-green);
}
.org-org-sexp-date {
  /* org-sexp-date */
  color: var(--color-purple);
}
.org-org-special-keyword {
  /* org-special-keyword */
  color: var(--color-purple);
}
.org-org-table {
  /* org-table */
  color: var(--color-royal-blue);
}
.org-org-tag {
  /* org-tag */
  font-weight: bold;
}
.org-org-target {
  /* org-target */
  text-decoration: underline;
}
.org-org-time-grid {
  /* org-time-grid */
  color: var(--color-dark-goldenrod);
}
.org-org-todo {
  /* org-todo */
  color: var(--color-red);
  font-weight: bold;
}
.org-org-upcoming-deadline {
  /* org-upcoming-deadline */
  color: var(--color-firebrick);
}
.org-org-verbatim {
  /* org-verbatim */
  color: var(--color-dim-gray);
}
.org-org-verse {
  /* org-verse */
  color: var(--color-dim-gray);
}
.org-org-warning {
  /* org-warning */
  color: var(--color-red);
  font-weight: bold;
}

.outline-1 {
  margin-bottom: 3rem;
}

.outline-2 {
  margin-bottom: 2rem;
}

.outline-3 {
  margin-bottom: 1rem;
}

.org-outline-1 {
  /* outline-1 */
  color: var(--color-royal-blue);
}
.org-outline-2 {
  /* outline-2 */
  color: var(--color-sienna);
}
.org-outline-3 {
  /* outline-3 */
  color: var(--color-purple);
}
.org-outline-4 {
  /* outline-4 */
  color: var(--color-firebrick);
}
.org-outline-5 {
  /* outline-5 */
  color: var(--color-forest-green);
}
.org-outline-6 {
  /* outline-6 */
  color: var(--color-dark-cyan);
}
.org-outline-7 {
  /* outline-7 */
  color: var(--color-dark-purple);
}
.org-outline-8 {
  /* outline-8 */
  color: var(--color-deep-pink);
}
.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: var(--color-dark-purple);
}
.org-query-replace {
  /* query-replace */
  color: var(--color-light-sky-blue);
  background-color: var(--bg-pink-purple);
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  font-weight: bold;
}
.org-region {
  /* region */
  background-color: var(--bg-light-khaki);
}
.org-secondary-selection {
  /* secondary-selection */
  background-color: var(--bg-bright-yellow);
}
.org-shadow {
  /* shadow */
  color: var(--color-dim-gray);
}
.org-show-paren-match {
  /* show-paren-match */
  background-color: var(--bg-turquoise);
}
.org-show-paren-mismatch {
  /* show-paren-mismatch */
  color: var(--color-white);
  background-color: var(--color-purple);
}
.org-string {
  /* font-lock-string-face */
  color: var(--color-dark-red);
}
.org-tool-bar {
  /* tool-bar */
  color: var(--color-black);
  background-color: var(--bg-silver);
}
.org-tooltip {
  /* tooltip */
  color: var(--color-black);
  background-color: var(--bg-light-yellow);
}
.org-trailing-whitespace {
  /* trailing-whitespace */
  background-color: var(--color-red);
}
.org-type {
  /* font-lock-type-face */
  color: var(--color-forest-green);
}
.org-underline {
  /* underline */
  text-decoration: underline;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: var(--color-teal);
}
.org-warning {
  /* font-lock-warning-face */
  color: var(--color-red);
  font-weight: bold;
}
.org-widget-button {
  /* widget-button */
  font-weight: bold;
}
.org-widget-button-pressed {
  /* widget-button-pressed */
  color: var(--color-red);
}
.org-widget-documentation {
  /* widget-documentation */
  color: var(--color-dark-green);
}
.org-widget-field {
  /* widget-field */
  background-color: var(--bg-soft-gray);
}
.org-widget-inactive {
  /* widget-inactive */
  color: var(--color-dim-gray);
}
.org-widget-single-line-field {
  /* widget-single-line-field */
  background-color: var(--bg-soft-gray);
}
